{{#*inline "htmTitleCurrikiResourcePage"}}		<!-- inline "htmTitleCurrikiResourcePage" -->
		<title>{{#if searchListCurrikiResource_}}{{#eq currikiResourceCount int1}}{{#eq params.query.q "*:*"}}resource{{else}}resource{{/eq}}{{else}}no resource found{{/eq}}{{else}}resources{{/if}}</title>
{{/inline}}
{{#*inline "htmMetaCurrikiResourcePage"}}{{> "htmMetaBaseModelPage"}}{{/inline}}
{{#*inline "htmStyleCurrikiResourcePage"}}{{> "htmStyleBaseModelPage"}}{{/inline}}
{{#*inline "htmScriptsCurrikiResourcePage"}}{{> "htmScriptsBaseModelPage"}}		<!-- inline "htmScriptsCurrikiResourcePage" -->
		<script src="{{staticBaseUrl}}/js/enUS/CurrikiResourcePage.js"></script>
{{/inline}}
{{#*inline "htmScriptCurrikiResourcePage"}}		<!-- inline "htmScriptCurrikiResourcePage" -->
		<script>
			$(document).ready(function() {
				document.onkeydown = function(evt) {
					evt = evt || window.event;
					var isEscape = false;
					if ('key' in evt) {
						isEscape = (evt.key === 'Escape' || evt.key === 'Esc');
					} else {
						isEscape = (evt.keyCode === 27);
					}
					if (isEscape) {
						$('.w3-modal:visible').hide();
					}
				};
				window.eventBus = new EventBus('/eventbus');
				var pk = {{#if pk}}{{pk}}{{else}}null{{/if}};
				if(pk != null) {
				}
				websocketCurrikiResource(websocketCurrikiResourceInner);
			});
		</script>
{{/inline}}
{{#*inline "htmUrlCurrikiResource"}}{{pageUri}}?q={{query.q}}&amp;rows={{#if rows}}{{rows}}{{else}}{{pagination.rows}}{{/if}}&amp;rows={{#if start}}{{start}}{{else}}{{pagination.start}}{{/if}}{{#each query.fq}}{{#eq fq this}}{{else}}&fq={{fq}}:{{val}}{{/eq}}{{/each}}{{#each query.sort}}{{#eq sort this}}{{else}}&sort={{var}} {{order}}{{/eq}}{{/each}}{{/inline}}
{{#*inline "htmHeadCurrikiResourcePage"}}{{> "htmTitleCurrikiResourcePage"}}{{> "htmMetaCurrikiResourcePage"}}{{> "htmStyleCurrikiResourcePage"}}{{> "htmScriptsCurrikiResourcePage"}}{{> "htmScriptCurrikiResourcePage"}}{{/inline}}
{{#*inline "htmBodyCount0CurrikiResourcePage"}}		<!-- #*inline "htmBodyCount0CurrikiResourcePage" -->
		<h1>
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-center w3-block w3-blue w3-hover-blue">
				{{#if contextIconCssClasses}}
					<i class="contextIconCssClasses site-menu-icon "></i>
				{{/if}}
				<span class="">resources</span>
			</a>
		</h1>
		<h2>
			<span class="w3-bar-item w3-padding w3-center w3-block w3-blue">
				{{#if contextIconCssClasses}}
					<i class="contextIconCssClasses + " site-menu-icon "></i>
				{{/if}}
				<span class="">no resource found</span>
			</span>
		</h2>
{{/inline}}
{{#*inline "htmBodyCount1AllCurrikiResourcePage"}}		<!-- #*inline "htmBodyCount1AllCurrikiResourcePage" -->
		<h1 class="w3-center ">
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-block w3-blue w3-hover-blue">
			{{#if contextIconCssClasses}}
				<i class="contextIconCssClasses site-menu-icon "></i>
			{{/if}}
				<span class="">resource</span>
			</a>
		</h1>
		<h2 class="w3-center ">
			<span class="w3-bar-item w3-padding w3-center w3-block w3-blue">
				<span class="">{{currikiResource_.objectTitle}}</span>
			</span>
		</h2>
{{#block "htmForm"}}{{/block}}
{{/inline}}
{{#*inline "htmBodyCount1CurrikiResourcePage"}}		<!-- #*inline "htmBodyCount1CurrikiResourcePage" -->
		<h1>
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-center w3-block w3-blue w3-hover-blue">
	{{#if contextIconCssClasses}}
				<i class="contextIconCssClasses + " site-menu-icon "></i>
	{{/if}}
				<span class="">resources</span>
			</a>
		</h1>
		<div>
	{{#if pagination.pagePrevious}}
			<a href="{{pageUri}}?start={{pagination.pagePrevious.start}}&amp;rows={{pagination.rows}}">
				<i class="fas fa-arrow-square-left "></i>
			</a>
	{{else}}
			<i class="fas fa-arrow-square-left w3-opacity "></i>
	{{/if}}
	{{#gte pagination.rowsPrevious pagination.1L}}
			<a href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsPrevious }}">
				<i class="fas fa-minus-square "></i>
			</a>
	{{else}}
			<i class="fas fa-minus-square w3-opacity "></i>
	{{/gte}}
			<a href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsNext }}">
				<i class="fas fa-plus-square "></i>
			</a>
	{{#if pagination.pageNext}}
			<a href="{{pageUri}}?start={{pagination.pageNext.start}}&amp;rows={{pagination.rows}}">
				<i class="fas fa-arrow-square-right "></i>
			</a>
	{{else}}
			<i class="fas fa-arrow-square-right w3-opacity "></i>
	{{/if}}
			<span>{{ pagination.startNum }} - {{ pagination.endNum }} of {{ pagination.foundNum }}</span>
		</div>
{{> "table1CurrikiResourcePage"}}
{{/inline}}
{{#*inline "htmBodyAllCurrikiResourcePage"}}		<!-- #*inline "htmBodyAllCurrikiResourcePage" -->
		<h1>
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-center w3-block w3-blue w3-hover-blue">
	{{#if contextIconCssClasses}}
				<i class="contextIconCssClasses + " site-menu-icon "></i>
	{{/if}}
				<span class="">resources</span>
			</a>
		</h1>
		<div class="">
			<div>
	{{#if pagination.pagePrevious}}
				<a href="{{pageUri}}?start={{pagination.pagePrevious.start}}&amp;rows={{pagination.rows}}">
					<i class="fas fa-arrow-square-left "></i>
				</a>
	{{else}}
				<i class="fas fa-arrow-square-left w3-opacity "></i>
	{{/if}}
	{{#gte pagination.rowsPrevious pagination.1L}}
				<a href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsPrevious }}">
					<i class="fas fa-minus-square "></i>
				</a>
	{{else}}
				<i class="fas fa-minus-square w3-opacity "></i>
	{{/gte}}
				<a href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsNext }}">
					<i class="fas fa-plus-square "></i>
				</a>
	{{#if pagination.pageNext}}
				<a href="{{pageUri}}?start={{pagination.pageNext.start}}&amp;rows={{pagination.rows}}">
					<i class="fas fa-arrow-square-right "></i>
				</a>
	{{else}}
				<i class="fas fa-arrow-square-right w3-opacity "></i>
	{{/if}}
				<span>{{ pagination.startNum }} - {{ pagination.endNum }} of {{ pagination.foundNum }}</span>
			</div>
{{> "table1CurrikiResourcePage"}}
		</div>
{{/inline}}
{{#*inline "htmFormCurrikiResourcePage"}}	{{#if pk}}
		<!-- #*inline "htmForm" -->
		<form action="" id="CurrikiResourceForm" style="display: inline-block; width: 100%; " onsubmit="event.preventDefault(); return false; ">
			<input name="pk" class="valuePk" type="hidden" value="{{pk}}"/>
			<input name="focusId" type="hidden"/>
		</form>
{{#block "htmForm_searchpageCurrikiResource"}}{{/block}}
	{{/if}}
{{/inline}}
{{#*inline "htmFormCurrikiResourcePage_patchCurrikiResource"}}
		<button
			class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-blue "
			onclick="$('#patchCurrikiResourceModal').show(); "
			>
			<i class="fas fa-edit "></i>
			Modify resources
		</button>
		<div id="patchCurrikiResourceModal" class="w3-modal w3-padding-32 ">
			<div class="w3-modal-content ">
				<div class="w3-card-4 ">
					<header class="w3-container w3-blue">
	{{#eq "Page" classApiMethodMethod}}
						<span class="w3-button w3-display-topright " onclick="$('#patchCurrikiResourceModal').hide(); ">×</span>
	{{/eq}}
						<h2 class="w3-padding ">Modify resources</h2>
					</header>
					<div class="" id="patchCurrikiResourceFormValues">
							<div class="w3-cell-row ">
{{> "htmCreated" classApiMethodMethod="PATCH"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmArchived" classApiMethodMethod="PATCH"}}
{{> "htmDeleted" classApiMethodMethod="PATCH"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmResourceId" classApiMethodMethod="PATCH"}}
{{> "htmKeywordsStr" classApiMethodMethod="PATCH"}}
							</div>
						<button
							class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-margin w3-blue "
							onclick="patchCurrikiResource(null, $('#patchCurrikiResourceFormValues')); "
							>Modify resources</button>
					</div>
				</div>
			</div>
		</div>
{{/inline}}
{{#*inline "htmFormCurrikiResourcePage_postCurrikiResource"}}
		<button
			class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-blue "
			onclick="$('#postCurrikiResourceModal').show(); "
			>
			<i class="fas fa-file-plus "></i>
			Create a resource
		</button>
		<div id="postCurrikiResourceModal" class="w3-modal w3-padding-32 ">
			<div class="w3-modal-content ">
				<div class="w3-card-4 ">
					<header class="w3-container w3-blue">
	{{#eq "Page" classApiMethodMethod}}
						<span class="w3-button w3-display-topright " onclick="$('#postCurrikiResourceModal').hide(); ">×</span>
	{{/eq}}
						<h2 class="w3-padding ">Create a resource</h2>
					</header>
					<div class="" id="postCurrikiResourceFormValues">
						<div id="postCurrikiResourceForm">
							<div class="w3-cell-row ">
{{> "htmCreated" classApiMethodMethod="POST"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmArchived" classApiMethodMethod="POST"}}
{{> "htmDeleted" classApiMethodMethod="POST"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmResourceId" classApiMethodMethod="POST"}}
{{> "htmKeywordsStr" classApiMethodMethod="POST"}}
							</div>
						</div>
						<button
							class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-margin w3-blue "
							onclick="postCurrikiResource($('#postCurrikiResourceForm')); "
							>Create a resource</button>
					</div>
				</div>
			</div>
		</div>
{{/inline}}
{{#*inline "htmFormCurrikiResourcePage_putimportCurrikiResource"}}
		<button
			class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-blue "
			onclick="$('#putimportCurrikiResourceModal').show(); "
			>
			<i class="fas fa-file-import "></i>
			Import resources
		</button>
		<div id="putimportCurrikiResourceModal" class="w3-modal w3-padding-32 ">
			<div class="w3-modal-content ">
				<div class="w3-card-4 ">
					<header class="w3-container w3-blue">
	{{#eq "Page" classApiMethodMethod}}
						<span class="w3-button w3-display-topright " onclick="$('#putimportCurrikiResourceModal').hide(); ">×</span>
	{{/eq}}
						<h2 class="w3-padding ">Import resources</h2>
					</header>
					<div class="" id="putimportCurrikiResourceFormValues">
						<div class="w3-cell-row ">
							<textarea
								class="PUTImport_searchList w3-input w3-border "
								style="height: 400px; "
								placeholder="{ 'searchList': [ { 'pk': ... , 'saves': [ ... ] }, ... ] }"
								></textarea>
						</div>
						<button
							class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-margin w3-blue "
							onclick="putimportCurrikiResource($('#putimportCurrikiResourceFormValues')); "
							>Import resources</button>
					</div>
				</div>
			</div>
		</div>
{{/inline}}
{{#*inline "htmFormCurrikiResourcePage_searchpageCurrikiResource"}}
		<div id="searchpageCurrikiResourceModal" class="w3-padding-32 ">
			<div class="">
				<div class="w3-card-4 ">
					<header class="w3-container w3-blue">
	{{#eq "Page" classApiMethodMethod}}
						<span class="w3-button w3-display-topright " onclick="$('#searchpageCurrikiResourceModal').hide(); ">×</span>
	{{/eq}}
						<h2 class="w3-padding "></h2>
					</header>
					<div class="" id="searchpageCurrikiResourceFormValues">
						<div id="searchpageCurrikiResourceForm">
							<div class="w3-cell-row ">
{{> "htmPk" classApiMethodMethod="Page"}}
{{> "htmCreated" classApiMethodMethod="Page"}}
{{> "htmModified" classApiMethodMethod="Page"}}
{{> "htmObjectId" classApiMethodMethod="Page"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmArchived" classApiMethodMethod="Page"}}
{{> "htmDeleted" classApiMethodMethod="Page"}}
							</div>
						</div>
						<button
							class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-margin w3-blue "
							onclick="searchpageCurrikiResource(); "
							></button>
					</div>
				</div>
			</div>
		</div>
{{/inline}}
{{#*inline "htmBodyStartCurrikiResourcePage"}}
{{> "htmBodyStartBaseModelPage"}}
{{/inline}}
{{#*inline "htmBodyEndCurrikiResourcePage"}}
{{> "htmBodyEndBaseModelPage"}}
{{/inline}}
{{#*inline "htmBodyCurrikiResourcePage"}}
{{#block "htmBodyStart"}}{{/block}}
	{{#eq currikiResourceCount int0}}
{{#block "htmBodyCount0"}}{{/block}}
	{{else}}
		{{#eq currikiResourceCount int1}}
			{{#eq params.query.q "*:*"}}
{{#block "htmBodyCount1All"}}{{/block}}
			{{else}}
{{#block "htmBodyCount1"}}{{/block}}
			{{/eq}}
		{{else}}
{{#block "htmBodyAll"}}{{/block}}
		{{/eq}}
	{{/eq}}
{{#block "htmForms"}}{{/block}}
{{#block "htmBodyEnd"}}{{/block}}
{{/inline}}
{{#*inline "table1CurrikiResourcePage"}}
		<table class="w3-table w3-bordered w3-striped w3-border w3-hoverable ">
			{{> table2CurrikiResourcePage}}
		</table>
{{/inline}}
{{#*inline "table2CurrikiResourcePage"}}
		{{> "thead1CurrikiResourcePage"}}
		{{> "tbody1CurrikiResourcePage"}}
		{{> "tfoot1CurrikiResourcePage"}}
	{{/inline}}
{{#*inline "thead1CurrikiResourcePage"}}
		<thead class="w3-blue w3-hover-blue">
			{{> thead2CurrikiResourcePage}}
		</thead>
	{{/inline}}
{{#*inline "thead2CurrikiResourcePage"}}
			<tr>
				<th>created</th>
				<th></th>
			</tr>
{{/inline}}
{{#*inline "tbody1CurrikiResourcePage"}}
		<tbody>
			{{> tbody2CurrikiResourcePage}}
		</tbody>
{{/inline}}
{{#*inline "tbody2CurrikiResourcePage"}}
		{{#each listCurrikiResource}}
			<tr>
					<td>
						<a href="{{pageUrlPk}}">
							<span class="white-space-pre-wrap ">{{siteZonedDateTimeFormat created "yyyy-MM-dd'T'HH:mm:ss.SSS'['VV']'" siteLocale}}</span>
						</a>
					</td>
					<td>
						<a href="{{pageUrlPk}}">
							<i class="far fa-file "></i>
							<span class="white-space-pre-wrap ">{{objectTitle}}</span>
						</a>
					</td>
			</tr>
		{{/each}}
{{/inline}}
{{#*inline "tfoot1CurrikiResourcePage"}}
		<tfoot class="w3-blue w3-hover-blue">
			{{> tfoot2CurrikiResourcePage}}
		</tfoot>
{{/inline}}
{{#*inline "tfoot2CurrikiResourcePage"}}
		<tr>
			{{#if getColumnCreated}}
				<td>
				</td>
			{{/if}}
			{{#if getColumnObjectTitle}}
				<td>
				</td>
			{{/if}}
		</tr>
	{{/inline}}
{{#*inline "htmFormsCurrikiResourcePage"}}
	{{#ifContainsAnyRoles roles rolesRequired}}
		{{#eq currikiResourceCount int1}}
		<button
			class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-blue "
			id="refreshThisCurrikiResourceGenPage"
			onclick="patch{{classSimpleName}}Vals( [ {name: 'fq', value: 'pk:{{pk}}' } ], {}, function() { addGlow($('#refreshThisCurrikiResourceGenPage')); }, function() { addError($('#refreshThisCurrikiResourceGenPage')); }); return false; ">
			<i class="fas fa-sync-alt "></i>
			refresh this resource
		</button>
		{{/eq}}
	{{/ifContainsAnyRoles}}
	{{#ifContainsAnyRoles roles authRolesAdmin}}
{{#block "htmForm_patchCurrikiResource"}}{{/block}}
{{#block "htmForm_postCurrikiResource"}}{{/block}}
{{#block "htmForm_putimportCurrikiResource"}}{{/block}}
	{{/ifContainsAnyRoles}}
{{#block "htmSuggested"}}{{/block}}
{{/inline}}
{{#*inline "htmSuggestedCurrikiResourcePage"}}
			{{#ifContainsAnyRoles roles rolesRequired}}
					<div class="">
						<button id="refreshAllCurrikiResourceGenPage{{id}}" class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-blue "
							onclick="patch{{classSimpleName}}Vals([], {}, function() { addGlow($('#refreshAllCurrikiResourceGenPage{{id}}')); }, function() { addError($('#refreshAllCurrikiResourceGenPage{{id}}')); }); "
							>
							<i class="fas fa-sync-alt "></i>
							refresh all the resources
						</button>
					</div>
			{{/ifContainsAnyRoles}}
			<div class="w3-cell-row ">
				<div class="w3-cell ">
					<span>
						search resources: 
					</span>
				</div>
			</div>
			<div class="w3-bar ">
				<input
					type="text"
					class="suggestCurrikiResource w3-input w3-border w3-bar-item "
					name="suggestCurrikiResource"
					id="suggestCurrikiResource{{id}}"
					autocomplete="off"
					oninput="suggestCurrikiResourceObjectSuggest( [ { 'name': 'q', 'value': 'objectSuggest:' + $(this).val() }, { 'name': 'rows', 'value': '10' }, { 'name': 'fl', 'value': 'pk,pageUrlPk,objectTitle' } ], $('#suggestListCurrikiResource{{id}}'), {{pk}}; "
					onkeyup="if (event.keyCode === 13) { event.preventDefault(); window.location.href = '/api/resource?q={{query1}}:' + encodeURIComponent(this.value) + '{{fqs}}{{sorts}}&amp;rows={{start2}}&amp;rows={{rows1}}"
				{{#if listCurrikiResource}}
					value="{{query2}}"
				{{/if}}
				/>
				<button
					class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-blue "
					onclick="window.location.href = '/api/resource?q=&quot;, query1, &quot;:' + encodeURIComponent(this.previousElementSibling.value) + '&quot;, fqs, sorts, &quot;&amp;rows=&quot;, start2, &quot;&amp;rows=&quot;, rows1, &quot;'; "
					>
					<i class="fas fa-search "></i>
				</button>
			<div>
			<div class="w3-cell-row ">
				<div class="w3-cell w3-left-align w3-cell-top ">
					<ul class="w3-ul w3-hoverable " id="suggestListCurrikiResource{{id}}">
					</ul>
				</div>
			</div>
			<div class="">
				<a href="/api/resource" class="">
					<i class="far fa-file"></i>
					see all the resources
				</a>
			</div>
{{/inline}}
{{> BaseModelPage baseModel_=currikiResource_}}

{{#*inline "htmResourceId"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}CurrikiResourceResourceId">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label for="{{classApiMethodMethod}}_resourceId">resource ID</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputResourceId"}}
													</div>
	{{#ifContainsAnyRoles roles rolesRequired}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-blue "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_resourceId')); $('#{{classApiMethodMethod}}_resourceId').val(null); patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'pk:' + $('#CurrikiResourceForm :input[name=pk]').val() }], 'setResourceId', null, function() { addGlow($('#{{classApiMethodMethod}}_resourceId')); }, function() { addError($('#{{classApiMethodMethod}}_resourceId')); }); "
																		>
																	<i class="far fa-eraser "></i>
																</button>
															</div>
														{{/eq}}
	{{/ifContainsAnyRoles}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputResourceId"}}
		{{#ifContainsAnyRoles roles rolesRequired}}
														<input
															type="text"
															placeholder="resource ID"
															id="{{classApiMethodMethod}}_resourceId"
	{{#eq "Page" classApiMethodMethod}}
																class="setResourceId classCurrikiResource inputCurrikiResource{{pk}}ResourceId w3-input w3-border "
																name="setResourceId"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setResourceId classCurrikiResource inputCurrikiResource{{pk}}ResourceId w3-input w3-border "
																name="setResourceId"
		{{else}}
																class="valueResourceId w3-input w3-border classCurrikiResource inputCurrikiResource{{pk}}ResourceId w3-input w3-border "
																name="resourceId"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'pk:{{pk}}' }], 'setResourceId', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_resourceId')); }, function() { addError($('#{{classApiMethodMethod}}_resourceId')); }); "
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
															value="{{currikiResource_.resourceId}}"
	{{/eq}}
														/>

													{{else}}
														{{#ifContainsKeys userKeys}}
															<span class="varCurrikiResource{{pk}}ResourceId ">{{currikiResource_.resourceId}}</span>
			{{/ifContainsKeys}}
		{{/ifContainsAnyRoles}}
{{/inline}}

{{#*inline "htmKeywordsStr"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}CurrikiResourceKeywordsStr">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label for="{{classApiMethodMethod}}_keywordsStr">Keywords</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputKeywordsStr"}}
													</div>
	{{#ifContainsAnyRoles roles rolesRequired}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-blue "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_keywordsStr')); $('#{{classApiMethodMethod}}_keywordsStr').val(null); patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'pk:' + $('#CurrikiResourceForm :input[name=pk]').val() }], 'setKeywordsStr', null, function() { addGlow($('#{{classApiMethodMethod}}_keywordsStr')); }, function() { addError($('#{{classApiMethodMethod}}_keywordsStr')); }); "
																		>
																	<i class="far fa-eraser "></i>
																</button>
															</div>
														{{/eq}}
	{{/ifContainsAnyRoles}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputKeywordsStr"}}
		{{#ifContainsAnyRoles roles rolesRequired}}
														<input
															type="text"
															placeholder="Keywords"
															id="{{classApiMethodMethod}}_keywordsStr"
	{{#eq "Page" classApiMethodMethod}}
																class="setKeywordsStr classCurrikiResource inputCurrikiResource{{pk}}KeywordsStr w3-input w3-border "
																name="setKeywordsStr"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setKeywordsStr classCurrikiResource inputCurrikiResource{{pk}}KeywordsStr w3-input w3-border "
																name="setKeywordsStr"
		{{else}}
																class="valueKeywordsStr w3-input w3-border classCurrikiResource inputCurrikiResource{{pk}}KeywordsStr w3-input w3-border "
																name="keywordsStr"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'pk:{{pk}}' }], 'setKeywordsStr', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_keywordsStr')); }, function() { addError($('#{{classApiMethodMethod}}_keywordsStr')); }); "
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
															value="{{currikiResource_.keywordsStr}}"
	{{/eq}}
														/>

													{{else}}
														{{#ifContainsKeys userKeys}}
															<span class="varCurrikiResource{{pk}}KeywordsStr ">{{currikiResource_.keywordsStr}}</span>
			{{/ifContainsKeys}}
		{{/ifContainsAnyRoles}}
{{/inline}}

{{#*inline "htmKeywords"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-padding ">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label>resource ID</label>
												</div>
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														<div class="w3-rest ">
															<span class="">
																{{> "inputKeywords"}}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
	{{/eq}}
								</div>
{{/inline}}

{{#*inline "inputKeywords"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varCurrikiResource{{pk}}Keywords ">{{currikiResource_.keywords}}</span>
	{{/eq}}
{{/inline}}
